<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <h1>CHEAT MODE</h1>
      <p><%= message %></p>
      <form>
        <input type='text' name='guess' />
        <input type='submit' value='Guess!' />
      </form>
  </body>
</html>
